img {
	width: 200px;
	height: 227px;
	padding: 21px;
}


div {
      opacity: 1;
      position: relative;
}

.first {
      width: 200px;
      height: 200px;
      background-color: limegreen;
	    margin-left: 700px;
 	   margin-top: -1000px;
      z-index: -1;
}

.second {
      width: 200px;
      height: 200px;
      background-color: lightcoral;
      margin-left: 300px;
      margin-top: -1500px;
      z-index: -1;
}

.third {
      width: 200px;
      height: 200px;
      background-color: orange;
      margin-left: 150px;
      margin-top: 200px;
      transform: rotate(45deg);
      z-index: -1;
}